news-app-api/coverage/news/lcov.info
.vscode
.git
news-app-api/node_modules/
news-app-api/package-lock.json
news-app-api/.env
news-app-api/.nyc_output
news-app/node_modules/
news-app/package-lock.json
news-app/.editorconfig